body {
  background-color: #0D0D0D;
  color: #F2F2F2;
  margin: 0px;
  font-family: Consolas;
}

header {
  border-bottom: 1px solid #F2F2F2;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

span {
  margin: 20px;
}

a {
  color: #F2F2F2;
  text-decoration: none;
}

#title {
  font-size: 40px;
  padding: 10px;
}

#typing {
  display: inline-block;
  border-right: 3px solid #F2F2F2;
  animation: blink 1s step-end infinite;
}

.box {
  border: 1px solid #F2F2F2;
  margin: 20px;
  padding: 20px;
}

.console {
  font-size: 25px;
  margin: 0px;
}

.tap {
  margin: 0px;
  font-size: 40px;
  font-weight: bold;
}

.tap:hover {
  text-decoration: underline;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
