body {
  background-color: #0D0D0D;
  color: #F2F2F2;
  margin: 0px;
  font-family: Consolas;
}

header {
  border-bottom: 1px solid #F2F2F2;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

span {
  margin: 20px;
}

a {
  color: #F2F2F2;
  text-decoration: none;
}

footer {
  border-top: 1px solid #F2F2F2;
  width: 100%;
  color: #F2F2F2;
  text-align: center;
  padding: 20px 0px;
  bottom: 0;
  left: 0;
}

#index {
  border-width: 0px 1px 1px 0px;
  border-color: #F2F2F2;
  border-style: solid;
  display: inline-block;
  padding: 5px;
}

#current_page {
  text-decoration: underline;
}

.side_bar {
  display: inline-block;
  border-left: 1px solid #F2F2F2;
  margin: 0px 0px 0px 30px;
}

.subject {
  padding: 10px 20px;
  margin: 10px 0px 0px;
}

.content {
  padding: 0px 60px;
  margin: 0px;
}

.title {
  margin-bottom: 0;
  text-align: center;
  border: solid #F2F2F2;
  border-width: 1px 0px;
  padding: 10px;
  margin: 20px 0px 0px 0px;
}

.title2 {
  margin-bottom: 0;
  text-align: center;
  border: solid #F2F2F2;
  border-width: 1px 0px;
  padding: 10px;
  margin: 0px;
}

.tap {
  margin: 0px;
  font-size: 40px;
  font-weight: bold;
}

.tap:hover {
  text-decoration: underline;
}
